<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Login Info</h5>
        </div>
        <div class=" card-body">
          <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-4">
                <b style="float:left"> UserName </b>
                <b style="float:right">:</b>
              </div>

              <div class=" col-md-8">
                <div class=" form-group">
                  <input class=" form-control" placeholder="Username" type="text" value="Narender" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b style="float:left"> Email <Address></Address> </b>
                <b style="float:right">:</b>
              </div>

              <div class=" col-md-8">
                <div class=" form-group">
                  <input class=" form-control" placeholder="Email" type="text" value="Narender@onpassive.com" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class="col-md-4">
                <b style="float:left"> Password </b>
                <b style="float:right">:</b>
              </div>

              <div class=" col-md-8 ">
                <div class=" form-group">
                  <input class=" form-control" disabled="" placeholder="Company" type="password" value="12345678"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password min lenght is 8</div>
                </div>
                </div>
              </div>
            </div>
                      
            
          </form>

        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-success" type="submit">Save</button>
          <a routerLink="/changepassword" routerLinkActive="active"><button class=" btn btn-fill btn-primary" type="submit">Change Password..?</button></a>
         
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

              <h5 class=" title">Narender</h5>
            </a>
            <p class=" description">Employee</p>
          </div>
          <div class=" card-description">
            I am working as developer
          </div>
        </div>

      </div>
    </div>
  </div>
</div>