<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h2 class=" title">Close Account</h2>                   
                </div>
                <div class=" card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                              <b style="float:left"><h4>Step 1 | Cancel or transfer your existing  services and domains</h4>
                            <span>The first thing you should focus on is canceling or transferring your existing  services, for example,  any Premium plans, domains, mailboxes, and app subscriptions that you have connected to your account. These should all be canceled or transferred before you close your account.</span> </b>                             
                            </div>
              
                            <!--<div class=" col-md-4 px-md-1">
                              <div class=" form-group ">
                                  <label class="switch">
                                      <input type="checkbox" checked>
                                      <span class="slider round"></span>
                                  </label>                                    
                              </div>
                            </div> -->
                          </div> 

                        <div class="row">
                          <div class="col-md-12">
                            <b style="float:left"><h4>Step 2 | Move your sites to the trash</h4>
                            <span>Next, move any remaining sites in your account to the trash. This ensures all your sites are deleted correctly.</span>  </b>                            
                          </div>
            
                          <!--<div class=" col-md-4 px-md-1">
                            <div class=" form-group ">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                                  
                            </div>
                          </div>-->
                        </div> 
                        
                        <div class="row">
                            <div class="col-md-12">
                              <b style="float:left"><h4>Step 3 | Remove any domains in your account</h4> 
                            <span>If you have not yet canceled or transferred your domains as part of step 1 above, you need to do step now before you can proceed to the final step.</span> </b>
                                 <span><b>Domains:</b> If you did not cancel your domain or transfer it together with your site in step one, you have two options:</span>     
                            <br> <span><a href="https://support.com/en/article/transferring-your-wix-domain-to-a-different-account">Transfer your domain to another  account.</a></span>
                            <br> <span><a href="https://support.com/en/article/transferring-your-wix-domain-to-a-different-account">Transfer your domain to another domain host.</a></span>
                            <br><span><b>Connected Domain:</b> If your domain is hosted by another domain host and connected to your  site, remove it from your account.</span>   
                                </div>
              
                            <!--<div class=" col-md-4 px-md-1">
                              <div class=" form-group ">
                                  <label class="switch">
                                      <input type="checkbox" checked>
                                      <span class="slider round"></span>
                                    </label>
                                    
                              </div>
                            </div>-->
                          </div>

                    </form>
                            </div>
                <div class=" card-footer">
                    <b style="float:left"><h4>Step 4 | Close your account</h4>
                        <span>Once you've moved your remaining sites to the trash, canceled all existing premium services and domains, you can close your account. </span></b>                            
                     
                         <button class=" btn btn-fill btn-success" type="submit">Close Account</button>
                </div>
            </div>
        </div>

    </div>
</div>